trigger:
  branches:
    include:
    - master
  paths:
    include:
    - zookeeper-rest/Makefile
    - zookeeper-rest/scripts/*
    - zookeeper-rest/build/*
    - zookeeper-rest/dockerfile/*

pr: none

pool:
  vmImage: 'ubuntu-18.04'

steps:
- bash: |
    export DOCKER_PASSWORD=$(docker_password)
    export DOCKER_USERNAME=$(docker_username)
    cd $(Build.SourcesDirectory)/zookeeper-rest
    make release-all

