trigger:
  branches:
    include:
    - master
  paths:
    include:
    - kafka/Makefile
    - kafka/scripts/*
    - kafka/build/*

pr: none

pool:
  vmImage: 'ubuntu-18.04'

steps:
- bash: |
    export DOCKER_PASSWORD=$(docker_password)
    export DOCKER_USERNAME=$(docker_username)
    cd $(Build.SourcesDirectory)/kafka
    make release-all

